[Desktop Entry]
Type=Application
Name=WeSOP
Exec=java -jar --module-path /usr/share/openjfx/lib --add-modules javafx.controls,javafx.graphics,javafx.fxml "/home/pi/Desktop/WeSOPServer-1.007-jar-with-dependencies.jar"
Name[en_US]=wesop
